# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example
!.env.*.example

# Build outputs
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# Package managers
.pnpm-store/

# Local caches
.turbo/
.vercel/
.parcel-cache/
.eslintcache

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.idea/
.vscode/

*next-env.d.ts
